<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static_files/user-list.css">
</head>

<body>
    {{>header}}
    <div class="packet">
        
        <table class="container">
            <tr class="list">
                <th>Company Name</th>
                <th>Stipend</th>
                <th>Min cpi</th>
                <th>duration in (month)</th>
            </tr>
            {{#each details}}
            <tr class="list">
                <td>{{this.cname}}</td>
                <td>{{this.stipend}}</td>
                <td>{{this.cpi}}</td>
                <td>{{this.duration}}</td>
                
            </tr>

            {{/each}}
        </table>
    </div>

</body>

</html>