.container{
    justify-content: space-between;
    flex-direction: column;
}
.list{
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: aqua;
    margin: 4px;
    padding: 4px;
}
tr{
    margin: 14px;
    padding: 14px;
    color:blueviolet
}