.packet{
    display: flex;
    flex-direction: row;
}
.slidecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 7px;
    background-color:cyan;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    border: 2px solid red;
    border-radius: 7px;
    background-color: cadetblue;
    
}
.list{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    border: 2px solid red;
    border-radius: 7px;
     background-color: aqua;
    padding: 12px;
    margin: 12px;


} 

.subList{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    /* border: 2px solid red; */
    /* border-radius: 7px; */
    background-color:aqua;
    height: 200px;
    width: 400px;
}


th{
    margin: 6px;
    padding: 20px;
}
.td{
    
    color:black;
    width: 200px;
} 